<!DOCTYPE html>
<html>
  <head>
    <title>かしま園</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <header>
    <div id ="header-logo">かしま園</div>
    <div id="header-list">
      <ul>
        <li>当園の紹介</li>
        <li>パンジーウォーク</li>
        <li>パンジーデリバリー</li>
        <li>カタログ</li>
        <li>庭先栽培</li>
        <li>アクセス</li>
        <li>SNS</li>
      </ul>
    </div>

  </header>


  <body>
    <%= yield %>
  </body>

  <footer>

    <div id="adress">
      <p>かしま園</p>
      <p>〒211-0041神奈川県川崎市中原区<br>下小田中5-1-2</p>
      <p>TEL044-777-0923<br>FAX044-751-0332</p>
    </div>


    <div id="footer-list">
      <ul>
        <li>当園の紹介</li>
        <li>パンジーウォーク</li>
        <li>パンジーデリバリー</li>
        <li>カタログ</li>
        <li>庭先栽培</li>
        <li>アクセス</li>
        <li>SNS</li>
      </ul>
    </div>
  </footer>
</html>
